<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メンバー</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

      body {
        font-family: 'Inter', sans-serif;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: white;
        text-align: center; /* テキストを中央揃え */
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 490px); /* カードの幅に合わせて列を自動調整 */
        gap: 50px; /* カード間のスペースを設定 */
      }
      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        background: #EEEEEE;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .info {
        display: flex;
        flex-direction: column; 
        align-items: left;
        margin-top: 12px;
        margin-left: 90px;
      }
      .name {
        text-align: left; /* 左揃えに変更 */
        font-size: 24px;
      }
      .title {
        text-align: left; /* 左揃えに変更 */
        font-size: 15px;
        color: #4A4A4A; /* 文字の色を追加 */
      }
      .description {
        margin-top: 30px;
        line-height: 1.5;
        text-align: left;
        font-size: 18px;
      }
      .icon {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 90px;
        height: 90px;
        transform: translate(-10%, -10%);
      }
      .xicon {
        position: absolute;
        top: 8px;
        right:50px;
        width: 34px;
        height: 34px;
      }
      .githubicon {
        position: absolute;
        top: 8px;
        right:8px;
        width: 34px;
        height: 34px;
      }
      .header {
        text-align: center;
        align-items: center;
        margin-bottom: 80px; /* 変更 */
      }
      .weare {
        font-size: 56px;
        margin: 0 auto; /* 左右の余白を均等に */
        margin-bottom: 0;
      }
      .hito {
        font-size: 26px;
        margin: 0 auto; /* 左右の余白を均等に */

      }
    </style>
  </head>
  <body>
    <div class="header">
      <p class="weare">私たちについて</p>
      <p class="hito">Discordサーバーで主に活動している人たち</p>
    </div>
    <div class="grid-container">
      <div class="card">
        <a class="xicon" href="#"><img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/X.png?raw=true" alt="Close"></a>
        <a class="githubicon" href="https://github.com/username1"><img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/Github.png?raw=true" alt="GitHub"></a>
        <img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/member-aki.png?raw=true"　alt="Icon"class="icon">
        <div class="info">
          <div class="name">Aki</div>
          <div class="title">鯖主、陽キャ</div>
        </div>
        <div class="description">
          私はタイに住んでいました<br>
          私は陽キャです<br>
          私は～
        </div>
      </div>
      <div class="card">
        <a class="xicon" href="#"><img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/X.png?raw=true" alt="Close"></a>
        <a class="githubicon" href="https://github.com/username1"><img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/Github.png?raw=true" alt="GitHub"></a>
        <img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/member-aki.png?raw=true"　alt="Icon"class="icon">
        <div class="info">
          <div class="name">Aki</div>
          <div class="title">鯖主、陽キャ</div>
        </div>
        <div class="description">
          私はタイに住んでいました<br>
          私は分身体です<br>
          私は～
        </div>
      </div>
      <div class="card">
        <a class="xicon" href="#"><img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/X.png?raw=true" alt="Close"></a>
        <a class="githubicon" href="https://github.com/username1"><img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/Github.png?raw=true" alt="GitHub"></a>
        <img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/member-aki.png?raw=true"　alt="Icon"class="icon">
        <div class="info">
          <div class="name">Aki</div>
          <div class="title">鯖主、陽キャ</div>
        </div>
        <div class="description">
          私はタイに住んでいました<br>
          私は分身体です<br>
          私は～
        </div>
      </div>
      <div class="card">
        <a class="xicon" href="#"><img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/X.png?raw=true" alt="Close"></a>
        <a class="githubicon" href="https://github.com/username1"><img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/Github.png?raw=true" alt="GitHub"></a>
        <img src="https://github.com/kettle12110/astro-test/blob/master/src/assets/member-aki.png?raw=true"　alt="Icon"class="icon">
        <div class="info">
          <div class="name">Aki</div>
          <div class="title">鯖主、陽キャ</div>
        </div>
        <div class="description">
          私はタイに住んでいました<br>
          私は分身体です<br>
          私は～
        </div>
      </div>
    </div>
  </body>
</html>